<meta charset="UTF-8">
<title>CO&GO</title>
<link href="outlines.css" rel="stylesheet">
<meta name="description" content="Coffee shop">
<script type="text/javascript" src="/scripts/script.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Gravitas+One&display=swap"
      rel="stylesheet">
<script src="/scripts/script.js" defer></script>