<header>
  <div class="left">
    <img class="header__logo" src="images/logo.png" alt="logo"/>
    <a href="pageForm.html" class="header__title">CO&GO</a>
  </div>
  <nav class="header-nav right">
    <a href="/" class="nav__home">HOME</a>
    <a href="/menu" class="nav__menu">MENU</a>
    <a href="/about-us" class="nav__about">ABOUT US</a>
    {{# if isAuthorized }}
    <a href="/" class="nav__home">ME</a>
    {{ else }}
    <a href="/" class="nav__home">LOGIN</a>
    {{/if}}


  </nav>
</header>