<footer>
  <ul>Contacts:
    <li>Address: Saint-Petersburg, Lenin Street, 12</li>
    <li>Email: co_n_go@gmail.com</li>
    <li id="watch">
      <script type="text/javascript"> watch();</script>
    </li>
    <li>client: <span id="loadtime"></span></li>
    <li>server: {{loadTime}} ms</li>
  </ul>
</footer>